################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/ABC Car Traders
/bin/Debug
/obj/Debug
